
  
body {
	background-color:#000000;
}

h1 {
	color: white;
	font-size: 70px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("./webpage background.jpg");
	background-size: 100% 100%;
	text-shadow: 0 0 140px red;
	margin-top: 0px;
	border: gray 3px solid;
}

h2 {
    color: white;
	font-size: 50px;
}

.article {
	color: white;
	font-size: 30px;
	background:rgba(123, 129, 128, 0.247);
	padding: 70px;
	margin-left: 300px;
	margin-right: 300px;
}

.nav {
	background: rgba(0, 0, 0, 1.0);
	height: 40px;
	color: white;
	border: gray 3px solid;
	margin-top: -50px;
}

.nav ul {
	height: 80px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.nav li {
	font-size: 30px;
	padding: 0 10px;
}

.nav ul li {
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  list-style: none;
  padding: 0px 40px;
  transition: background 0.5s;
}

.nav ul li:hover {
	background-color: #078c74
}

.bacteria-dropdown {
	position: relative;
	display: inline-block;
}

.bacteria-dropdown-content {
	display:none;
	position:absolute;
	background-color: #000000;
	min-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	font-size: 20px;
	text-align: left;
}

.bacteria-dropdown:hover .bacteria-dropdown-content {
	display: block;
}